networks:
  app-tier:
    driver: bridge
services:
  asterisk1:
    image: 'andrius/asterisk:latest'
    container_name: asterisk-demo
    volumes:
      - ./docker/logs:/var/log/asterisk
      - ./docker/configs/asterisk/config_pjsip:/etc/asterisk
      - ./docker/smartmex_data:/opt/smartmex_data
      - ./docker/asterisk_sounds:/var/lib/asterisk/sounds
      - ./docker/smartmex_data/wav_recordings:/var/spool/asterisk/recording:rw
    restart: no
    environment:
      - ASTERISK_USER=root
    ports:
      - "5062:5060/udp"
      - "8088:8088"
      - "10000-10010:10000-10010/udp"
    networks:
      - app-tier
  asterisk-operator:
    image: 'andrius/asterisk:latest'
    container_name: asterisk-operator
    volumes:
      - ./docker/configs/asterisk_operator/config:/etc/asterisk
    restart: no
    environment:
      - ASTERISK_USER=root
    ports:
      - "5060:5060/udp"
      - "10011-10020:10011-10020/udp"
    networks:
      - app-tier
