autobahn==25.10.2
cbor2==5.7.1
cffi==2.0.0
cfgv==3.4.0
cryptography==46.0.3
distlib==0.4.0
filelock==3.20.0
flatbuffers==25.9.23
hyperlink==21.0.0
identify==2.6.15
idna==3.11
msgpack==1.1.2
nodeenv==1.9.1
platformdirs==4.5.0
pre_commit==4.4.0
py-ubjson==0.16.1
pycparser==2.23
PyYAML==6.0.3
txaio==25.9.2
ujson==5.11.0
virtualenv==20.35.4
websockets==14.1
